@import "../../styles/variables";

.button {
  font-family: $font;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 20px;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: $color-primary;
  color: $color-white;
}
