@import "../../styles/variables";

.h3 {
  font-size: $font-size-h3;
}

.h4 {
  font-size: $font-size-h4;
}

.base {
  font-family: $font;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.small {
  font-size: $font-size-small;
  line-height: 12px;
}

.primary {
  color: $color-text-primary;
}

.secondary {
  color: $color-text-secondary;
}

.contrast {
  color: $color-text-contrast;
}

.bold {
  font-weight: 600;
}
