$font: 'Open Sans', sans-serif;
$font-size-small: 12px;
$font-size-base: 13px;
$font-size-h3: 14px;
$font-size-h4: 14px;

$color-primary: #2196F3;
$color-background: #F3F7FA;

$color-white: #FFFFFF;
$color-black: #000000;

$color-text-primary: #4A4A4A;
$color-text-secondary: #A0B0B9;
$color-text-contrast: #FFFFFF;

$color-checkbox-default: #9ABBCE;
$color-checkbox-active: #9ABBCE;
$color-checkbox-hover: #F1FCFF;

$color-tab-border: #DFE5EC;
